@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: 'Poppins', sans-serif;
}

.page {
    display: flex;
}

.sidebar {
    width: 260px;
    height: 100vh;
    background: rgb(4 9 44);
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 30px;
}

.main {
    width: 100%;
    margin-left: 260px;
}

.main1 {
    width: 100%;
    height: 100vh;
    background-color: #ebebeb;
}

.main2 {
    width: 100%;
    background-color: #ffffff;
}

.main3 {
    width: 100%;
    background-color: #ebebeb;
}

.profile {
    display: flex;
    justify-content: center;
}

.profile-img {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 16px;
}

.name {
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: 300;
}

.institute-name {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: rgb(191 191 191);
}

.sections {
    display: grid;
    grid-gap: 1.7px;
    margin-top: 25px;
}

.sec {
    width: 100%;
    display: flex;
    cursor: pointer;
    background: rgb(4 35 66);
    transition: .2s ease-in-out;
}

.sec:hover {
    background: rgb(5, 49, 92);
}

#icons {
    font-size: 19px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
}

.name-sec {
    font-size: 15.3px;
    font-weight: 500;
    color: #fff;
    padding: 10.2px 20px;
    border-radius: 0px;
    width: 100%;
}

.line-break {
    border: 1px solid #202020;
}

.social-icons {
    width: 100%;
    background: #373333;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 6px 6px;
    position: absolute;
    bottom: 0;
}



#social {
    cursor: pointer;
    transition: .1s ease-in-out;
}

#social:hover {
    color: #dcdcdc;
}

.icon-link {
    color: #ffffff;
    font-size: 19.9px;
    cursor: pointer;
}

.main1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.person {
    width: 393px;
    height: 520px;
}

.para-bio {
    width: 610px;
    font-size: 14.3px;
    font-weight: 400;
    color: #2e2e2e;
    letter-spacing: 0.6px;
    margin-bottom: 18px;
}

.name-bio {
    font-size: 50px;
    color: #000;
    font-weight: 400;
    margin-bottom: 8px;
}

.paras {
    margin-top: 20px;
}

.about-bio {
    margin-left: 30px;
}

.line {
    border: 1px solid #ccc8c8;
}

.shade {
    position: absolute;
    background: #050e2ac2;
    width: 100%;
    bottom: 0;
    height: 200px;
    padding: 22px 35px;
}

.bio-img {
    position: relative;
    width: 393px;
    height: 520px;
}

.name-shade {
    font-size: 42px;
    font-weight: 400;
    color: #fff;
}

.pop {
    font-size: 14px;
    color: #fff;
    margin-top: 4px;
}

.main2 {
    display: flex;
    justify-content: space-around;
    padding: 50px 0px;
}

.academics {
    font-size: 33px;
    color: #000;
    text-align: center;
    margin-bottom: 12px;
}

.cont {
    display: grid;
    grid-gap: 19px;
    margin-top: 45px;
    margin-bottom: 50px;
}

.boxx1 {
    display: flex;
    justify-content: space-around;
}

.years1 {
    font-size: 16.6px;
    color: #fff;
    background: rgb(8, 90, 144);
    width: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 0px;
}

.years2 {
    font-size: 16.6px;
    color: #fff;
    background: rgb(5, 61, 99);
    width: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 0px;
}

.name-acad {
    font-size: 22px;
    color: #323131;
    font-weight: 500;
}

.des-acad {
    font-size: 13px;
    color: #000;
    width: 280px;
    margin-top: 6px;
}

.about-acad {
    margin-left: 18px;
}

.lin {
    border: 1px solid #e5e5e5;
}

.honor {
    font-size: 30px;
    color: #000;
    font-weight: 400;
    text-align: center;
    margin-bottom: 12px;
}

.main3 {
    padding-top: 36px;
    display: grid;
    justify-content: center;
    padding-bottom: 59px;
}

.line22 {
    border: 1px solid #aeadad;
}

.conts {
    display: flex;
    justify-content: space-between;
}

.date-box {
    display: flex;
    align-items: center;
}

.year11 {
    background-color: rgb(8, 90, 144);
    width: 126px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9.5px 0px;
    font-size: 17px;
    color: #fff;
}

.round {
    width: 19.7px;
    height: 19.7px;
    background-color: #5b5b5b;
    border-radius: 50%;
    margin-left: -12px;
    border: 4px solid #fff;
}

#ch {
    display: none;
}


#ch:not(:checked)~.contents1 {
    display: none;
}

.cardi {
    width: 680px;
    background-color: #fff;
    padding: 15px 25px;
    border-radius: 4px;
    border: 4px solid rgb(8, 90, 144);
    margin-left: 16px;
}

.lifetime {
    font-size: 19px;
    color: #5b5b5b;
}

.contents1 {
    display: flex;
    justify-content: space-around;
    margin-top: 17px;
}

#content-img {
    width: 78px;
    border-radius: 2px;
    border: 1.6px solid #aeadad;
}

.content-para {
    font-size: 13.3px;
    color: #000;
    margin-left: 22px;
}

label {
    border-radius: 50%;
    padding: 3.5px 8px;
    border: 3px solid rgb(8, 90, 144);
    background: #fff;
    color: rgb(8, 90, 144);
    margin-left: 20px;
    font-size: 13.3px;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.3s;
}

label:hover {
    transform: translateX(9px);
}

.chek {
    display: flex;
}

.container {
    display: grid;
    grid-gap: 20px;
    margin-top: 39px;
}


/* Research section css */
.popUpContainer{
    position:fixed;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    background-color: #0000006b;
    visibility: hidden;
}

.popUpContainer .research{
    position: fixed;
    left: 30%;
    width: 70vw;
    height: 100vh;
    background-color:white;
    padding: 4%;
    display:flex;
    flex-direction: column;
    overflow-y: scroll;
    visibility: hidden;

}
.research .title{
    padding-top: 4%;
    font-size: 45px;
    width: 90%;
    font-weight: 200;
    margin-left: 2%;
    margin-bottom: 2%;
}

.popUpContainer .research .main{
    display: flex;
    flex-direction: row;
    margin-left: 0%;
    margin-top: 2%;
}
.popUpContainer .research .main .content{
    width: 65%;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 2%;
    word-spacing:normal;
    text-overflow: ellipsis;
    text-align:justify;
}
.popUpContainer .research .main .intrests{
    height: fit-content;
    width: 30%;
    margin-left: 5%;
}
.popUpContainer .research .main .intrests .title{
    font-size: 23px;
    width: 100%;
    text-align: center;
    font-weight: 200;
    color: #474444;
}
.popUpContainer .research .main .intrests .intrest p{
    width: 95%;
    padding: 2%;
    font-size: 15px;
    margin-top: 4%;
    margin-left: 2.5%;
    box-shadow: #323131;
    border-top: none;
    border-left: 4px solid rgb(8, 90, 144);
    border-right: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-bottom: none;
}